


/*This makes everything after the first column to satay in place */
/* Home page */
.row:after{
    content:"";
    display: table;
    clear: both;
}

.container .jumbotron {
    max-width: 75%;
    max-height: 30px;
    background-color: lightsteelblue;
    padding-bottom:8rem;
}

.container .jumbotron, h1 {
       margin-top:0;
       padding-top:0;
       font-family: 'Playfair Display SC', serif;    
}

h2 {
    background-color:lightsteelblue;
    font-family: 'Philosopher', sans-serif;        
}

col-md-offset-2 {
    margin-left: 35%;
}

.row {
    margin-top:15%;
       
}

row, p{
    color:azure;
}

/*This is for the table in the about page */

.tableAbout, .tr, th, td{
    padding-left:2rem;
    padding-bottom:1rem;
    text-align:center;
}

.tableAbout, th{
    color: darkgreen;
    padding-top:1rem;
}

.tableAbout {
    background-color: lightsteelblue;
    color: black;
    padding-right: 3rem;
    margin-top: 3rem;
    margin-bottom:25%;
}

/* This is for the index tables */
.row1 .table1 {
    background-color: lightsteelblue;
    color: black;
    width: 100% !important;
    margin-bottom:2rem;
    }

table {
    background-color: lightsteelblue;
    color: black;
}

tr {
    border-bottom: double;
}  

.table .tbody {
    background-color: lightsteelblue;
    color: black;
}

.row3 {
    margin-bottom:20%;
}

/* This is for the buttons */
.btn-default {
    background-color: darkgreen;
    color: white;
    border: 2px outset buttonface;
    border-color:black;
}

.btn-default .a{
    color:white;
}

/* This is for the create tables*/
.col-md-4 {
    margin-top:5%;
    margin-left:10%;
    margin-bottom:15%;
}

.row2 {
    margin-bottom:50%;
}

.col-md-2 .col-md-10 {
    float: right;
   }

.col-md-2 { width: 40% }
.col-md-10 { 
    width: 40%   

}

.col-md-10 {
    margin-top:5%;
}

.col-md-4 .imgcol {
    margin-top:5%;
    padding-right: 10%;
}

/* This is for edit, delete, details */
.row4 {
    margin-top:0;
}

.col-md-5 .col-md-6 {
    float: right;
    margin-top:0;
}

.col-md-5 {
    width: 40%
}

.col-md-6 {
    width: 40%
}

.dl-horizontal {
    
}

.col-md-5 {
    margin-bottom:30%;
}
.col-md-5 .form1 {
    margin-bottom:50%;
}



/* Footer */
.footer1 {
    background-color: black;
    background-size: cover;
    margin-bottom:0 !important;
}

.footer1, p{
    float:left;
    padding:0.5rem;   
    
}

footer1, .pFooter {
    padding-left: 65rem;    
}





