@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
</head>

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<style>
    body {
        background-image: url(../images/home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h2> Welcome to Contoso University</h2>
        <p>
            Contoso University is a fictional university that provides high level college education.
            In our institutions we help all students to grow spiritually and personally.
            We encourage all individuals from different age ranges to persuit education.

        </p>
    </div>


    <div class="col-md-offset-2 col-md-4">
        <h2> Purpose</h2>
        <p>
            Our purpose is to prepare individuals for future employment. We teach them the base of leadership, commitment, service, and learning.
            Their efforts and sacrifices together wih these skills help them build their future personally and professionally.

        </p>
    </div>
    
</div>
